#mainContent{
	margin-bottom:15px;
}

#homeImage{
	width:100%
}

h1{
	margin:10px 0 10px 0;
}

h2{
	padding:20px;
	margin:0;
}

#aboutContent{
	float:left;
	width:500px;
	margin:10px 0px 20px 160px;
}

#videoPlaceholder{
	margin-top:10px;
}

#twitterContent{
	float:left;
	width:350px;
	margin:50px 0px 20px 140px;
}

.twitterHighlight{
	color:rgb(64,153,255);
}


#twitterFeed{
	margin-top:50px;
	height:510px;
	background-color:rgb(230,230,230);
}

.tweet{
	width:280px;
	margin:0px auto 30px auto;
	padding:10px;
	background-color:rgb(220,220,220);
}

.tweetTime{
	margin:0 0 40px 30px;
}

.twitterBird{
	float:left;
	margin-right:10px;
}

.tweetTime p{
	padding:2px;
	font-size:10px;
}