h1{
	font-size:1.5em;
}

h3{
	font-size:1.2em;
	margin-bottom:5px;
}

.aboutContent{
	padding-top: 25px;
	
}

.artist{
	float:left;
	width:30%;
	margin: 30px 15px;
	text-align:center;
}
.artist img{
	display:block;
	margin:0 auto;
}

.artist p{
	font-size:0.8em;
	color:rgb(125,125,125);
	text-align:left;
}

.quote{
	margin-top:5px;
	text-align:center;
	font-size:0.8em;
	color:rgb(125,125,125);
}