#mainContent{
	margin-bottom:15px;
	font-weight: 300;
}

#imageFrame{
	max-height:255px;
	background-color:#A3DED8;
	overflow:hidden;
}

#bar{
	height:5px;
	background-color:#A3DED8;
}

#contactImage{
	width:100%;
}

h1{
	margin: 40px 0 10px 0;
	font-size:1.4em;
}

h2{
	padding: 20px;
	margin: 0;
}

#contactContent{
	float:left;
	width:200px;
	margin:0px;
}

#location{
	float: right;
	margin-top:45px;
	margin-bottom:15px;
	width: 695px;
	height:500px;
}

 html, body, #map-canvas {
        margin: 0;
        padding: 0;
        height: 100%;
      }
