body{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size:16 em;
	color: rgb(64,65,66);
	margin:0 auto;
	min-width:265px;
	background-color: #F4F4F4;
}

#centerContent{
	max-width:950px;
	margin:auto;
	width:95%;
}

.clearBoth{
	clear:both;
}

header{
	background-color:rgb(64,65,66);
	height: 68px;
	display: block;
}

nav{
	float:right;
	display: inline;
}

#dropdown{
	display:none;
}

nav ul{
	float:right;
}

nav ul li{
	float:left;
	margin:10px 35px 0 0;
	list-style-type:none;

}

nav ul li a, footer ul li a{
	color:rgb(230,230,230);
	text-decoration:none;
	font-size:16px;
}

nav ul li a:hover, nav ul li a:active {
	border-top: 8px solid #A3DED8;
	padding: 15px 0 0 0;
	
}

.active{
	border-top: 8px solid #A3DED8;
	padding: 15px 0 0 0;
}

footer ul li a:hover{
	color:#A3DED8;

}


footer{
	background-color:rgb(64,65,66);
	height:60px;
}

#footerLogo{
	margin:4px 20px 0 12px;
	float:left;
	height:50px;
}

footer ul{
	margin:0;
	padding:0;
	list-style:none;
}

footer ul li{
	margin-top:15px;
	padding:5px 25px;
	float:left;
}

a img{
	border:none;
}