body{
 font-family: verdana,arial,sans-serif;
 font-size:14px;
 width:1280px;
 margin:0 auto;
}

.clearBoth{
	clear:both;
}

header{
	background-color:rgb(64,65,66);
	height: 71px;
}

nav{
	float:right;
}

nav ul li{
	float:right;
	margin:10px 35px 0 0;
	list-style-type:none;
}

nav ul li a, footer ul li a{
	color:rgb(230,230,230);
	text-decoration:none;
	font-size:16px;
}

nav ul li a:hover, footer ul li a:hover{
	color:rgb(164,223,217);
}

footer{
	background-color:rgb(64,65,66);
	height:120px;
}

#footerLogo{
	margin:12px 20px 0 12px;
	float:left;
}

footer ul{
	float:left;
	list-style-type:none;
	padding:0px;
	margin:22px 30px 0 0;
}

footer ul li{
	margin-top:5px;
}
