#mainContent{
	padding-bottom:30px;
}

#centerContent{
	width:915px;
	margin-top:60px;
}

h1{
	padding:30px 0 25px 0;
	margin:0 0 0 5px;
	color: white;
	font-weight:normal;
}

.boardtitle{
	padding: 15px 15px 0 20px;
}

.amount{
	padding: 0 15px 5px 20px;
}

#itemView{
	float:left;
	width:425px;
	
}	

#itemView h2{
	font-size:1.2em;
	color:rgb(125,125,125);
	margin:10px 0 30px 0;
}

#itemDescription{
	float:right;
	width:425px;
	height:686px;
	background-color:white;
	margin-bottom: 35px;
}

.itemViewThumbs{
	float:left; 
	margin:0 34px 35px 0;
	width:80px;
	background-color:white;
}

.itemViewThumbs:hover{
	opacity: .7;
	cursor: pointer;
}
.itemViewThumbsLast{
	margin-right:0;
}

.itemViewThumbs img{
	margin:0 auto;
	display:block;
}

#itemViewLarge{
	width:423px;
	background-color:white;
	margin-bottom:30px;
}

#itemViewLarge img{
	margin:0 auto;
	display:block;
}

#itemDescription h2{
	padding-bottom:20px;
	border-bottom:1px solid rgb(200,200,200);
	color:rgb(125,125,125);
}

#artist img{
	float:left;
	padding: 0 0 0 20px;
	position: absolute;
}

#artist p{
	color:rgb(125,125,125);
	padding: 0 0 0 120px;
}

.description{
	padding: 35px 25px 20px 20px;
}

.artistName{
	color:black;
}

#itemDescription h3{
	padding-bottom:20px;
	border-bottom:1px solid rgb(200,200,200);
}
#itemDescription h4{
	margin:25px;
	margin-bottom:0;
}
#quantityInput{
	margin: 25px;
	width:100px;
	height: 30px;
	margin-top:10px;
	font-size: 12px;
	border: 2px solid #bdc3c7;
	text-indent: 40px;
}

#quantitySubmit{
	margin:25px;
	background-color:rgb(64,65,66);
	font-size: 24px;
	padding: 12px 18px 13px;
	border: none;
	color: #ffffff;
	text-decoration: none;
	text-shadow:none;
	width: 200px;
	cursor:pointer;
}

#quantitySubmit:hover{
background:#7A7A7A;

}

.inactive{
	background-color:rgb(222,222,222);
}

#backButton{
	float:left;
	padding-top:10px;
}

#backButton:hover{
	opacity: .4;
}