#mainContent{
	background-color:rgb(164,223,217);
	padding-bottom:30px;
}

#centerContent{
	width:915px;
}

h1{
	padding:30px 0 25px 0;
	margin:0 0 0 5px;
	color: white;
	font-weight:normal;
}

#itemView{
	float:left;
	width:425px;
}	

#itemDescription{
	float:right;
	width:425px;
	height:546px;
	background-color:white;
}

.itemViewThumbs{
	float:left; 
	margin:0 34px 30px 0;
	width:80px;
	background-color:white;
}

.itemViewThumbsLast{
	margin-right:0;
}

.itemViewThumbs img{
	margin:0 auto;
	display:block;
}

#itemViewLarge{
	width:423px;
	background-color:white;
	margin-bottom:30px;
}

#itemViewLarge img{
	margin:0 auto;
	display:block;
}

#tabs div{
	float:left;
	width:212.5px;
	padding:15px 0 15px 0;
	text-align:center;
	font-size:18px;
}

#itemDescription h2{
	margin:65px 0 25px 25px;
}

#itemDescription p{
	margin:25px 75px 25px 25px;
}

#itemDescription h3{
	margin:50px 0 15px 25px;
}

#quantityInput{
	margin-left:25px;
	width:50px;
}

#quantitySubmit{
	float:right;
	margin:165px 15px 0 0;
	background-color:rgb(64,65,66);
	font-size: 24px;
	padding: 12px 18px 13px;
	border: none;
	color: #ffffff;
	text-decoration: none;
	text-shadow:none;
	width: 200px;
}

#quantitySubmit:hover{
background:#7A7A7A;

}

.inactive{
	background-color:rgb(222,222,222);
}

#backButton{
	float:left;
	padding:10px;
}