#socialmediaContent{
	float:none;
	margin:45px auto;
	width:95%;
	}

#aboutContent{
	float:none;
	margin:0 auto;
	width:95%;
}

#centerContent{
	width:95%;
}

#videoPlaceholder{
	display:block;
	margin:30px auto;
	width:99%;
	max-width:500px;
}

.tweet{
	width:85%;
}

#twitterFeed{
	margin:45px auto;
	width: 95%;
	height: 95%;
}

.tweetTime{
	margin:30px auto;
	width:95%;
}
