#billingInfo{
	width:100%;
	margin: 10px 0px 50px 0 ;
}
#billingSubmit{
	width:50%;
	font-size:125%;
	margin-top:30px;
}

#cart {
	width:100%;

}

.span50{
	width:47%;
	
}

.itemImg{
	display:none;
}

.itemName{
	float:none;
	margin-top:0;
	text-align:left;
}