header{
	background-color:rgb(64,65,66);
	display: block;
	height:150px;
	padding:0;
	min-width:265px;

}

nav{
	float:right;
	padding:0;
}

nav ul li{
	margin:10px 35px 0 0;
	list-style-type:none;
	clear:both;
	padding:0;
}

nav ul li a, footer ul li a{
	color:rgb(230,230,230);
	text-decoration:none;
	font-size:16px;
	padding:0;
}

nav ul li a:hover, nav ul li a:active {
	border-top: none;
	padding: 0;
	color:#A3DED8;
	
}

.active{
	border-top: none;
	padding: 0;
}

footer{
	background-color:rgb(64,65,66);
	height:260px;
	padding-top:5px;
	min-width:265px;
}

#footerLogo{
display:none;
}

footer ul{
	float:none;
	list-style-type:none;
	text-align:right;
}

footer ul li{
	margin-top:5px;
}