@media (max-width:960px){
	#socialmediaContent{
		float:none;
		margin:50px auto;
		width:95%;
		}

	#newsContent{
		float:none;
		margin:0 auto;
		width:95%;
	}

	#centerContent{
		width:95%;
	}

	#newsContent img{
		display:block;
		margin:30px auto;
		width:99%;
		max-width:500px;
	}

	.tweet{
		width:85%;
	}

	#twitterFeed{
		margin:45px auto;
		width: 95%;
		height: 95%;
	}

	.tweetTime{
		margin:30px auto;
		width:95%;
	}
	.bannerText{
		font-size:0.7em;
	}
	#socialmediaContent{
	display:none;
		}
	.secondSet{
	display:inline;
	}
	.secondSet a{
		float:left;
		margin:5px 30px 0px 30px;
	}

}
@media (max-width:650px){
	.bannerText{
		display:none;
	}
}
@media (max-width:560px){
	.secondSet a{
		margin:5px 3px 0px 3px;
	}

}