@media (max-width: 955px) {
	#itemView{
		float: none;
		width:80%;
		margin: 0 auto;
	}	

	#itemViewLarge{
		width:100%;
	}	


	#itemDescription{
		float: none;
		width: 87%;
		margin:0 auto 0 auto;
		
	}

	#centerContent{
		width:95%;
	}

	#quantitySubmit{
		width: 50%;
		margin: 150px 15px 0 70px;
	}

	#tabs div{
		width: 50%;
	}

	#backButton{
		display:none;
	}

	h1{
		width:80%;
		display:block;
		margin:0 auto;
	}
	
	#itemDescription h2{
		padding-top:75px;
	}
	#quantitySubmit{
	font-size: 125%;
	margin-top:150px;
	margin-right:25px;
	width: 50%;
	}
	#quantityInput{
	width:25%;
}

}
@media (max-width: 560px) {
	
	#itemThumbnails{
		width:200px;
		margin:0 auto;
	}
	.itemViewThumbsMid{
		margin-right:0;
	}

	.itemViewNewRow{
		clear:both;
	}
	#quantitySubmit{
	margin-top:25px;
	width:80%;
	float:none;
	margin:20px;
	}
	#itemDescription{
	margin-top:0;
	height:auto;
	}
	#quantityInput{
	width:60%;
	}
}