

@media (max-width: 1000px) {
	.newRow{
		float:left;
		clear:none;
	}
	
	.secRow{
		float:right;
	}
	
	.item{
		float:none;
		width: 230px;
		margin: 30px 0 50px 0;
	}
	#rowContainer{
		width:70%;
		margin:0 auto;
	}
}

@media (max-width: 780px) {
	.item{
		float:none;
		width: 230px;
		margin:30px 0 50px 0;
	}
	.newRow{
		float:none;
		clear:both;
		margin:0 auto;
		width:230px;
	}
	h1{
		margin-left:10px;
	}
	#rowContainer{
		width:95%;
	}
}